<div class="container">
    <form ng-submit="login(username, password)">
        <div class="input-field">
            <input class="{{class}}" id="username" type="text" name="username" ng-model="username" autocomplete="off" required/>
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            <input class="{{class}}" type="password" name="password" ng-model="password" required/>
            <label for="password">Password</label>
        </div>
        {{error}}
        <button class="btn btn-success" type="submit">Zaloguj</button>
    </form>
</div>
